/* fonts */

@font-face {
    font-family: 'poppins-reg';
    src: url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'poppins-bold';
    src: url("../fonts/Poppins/Poppins-Bold.ttf") format("truetype");
}

/* HELPERS */

.hidden {
    display: none;
}

/* components */

button {
    color: white;
    background-color: transparent;
    outline: none;
    padding: 5px;
    border: 0;
    cursor: pointer;
    transition: 0.3s;
}

input {
    outline: none;
}

.nav-btns button:hover {
    color: rgb(117, 246, 255);
}

/* layouts */

* {
    box-sizing: border-box;
}

html {
    font-family: 'poppins-reg';
    color: white;
}

body {
    padding: 0px 10px 10px;
    margin: 0;
    background-color: black;
    color: white;
}

header {
    /* position: fixed; */
    display: flex;
    max-width: 1243px;
    height: 73px;
    font-size: 1.5rem;
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    background-color: #5970c1;
    border-radius: 37px;
    /* padding: 10px; */
    margin: 10px auto 10px auto;
}

header button {
    margin: 0 20px;
    font-size: 1.3rem;
}

.nav-bar-header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.more-btn {
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
    width: 80px;
    border-radius: 10px;
    background-color: #fefefe;
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
}

.container {
    max-width: 1243px;
    height: 100%;
    margin: 0 auto;
    /* padding: 10px; */
}

.main-container {
    background-color: #383b42;
    border-radius: 10px;
    /* height: 100%; */
}

.search-bar {
    display: flex;
    /* display: none; */
    padding: 8px;
    justify-content: space-evenly;
}

.search-input-sec {
    position: relative;
    width: 35%;
    height: 40px;
}

.search-input {
    width: 70%;
    height: 40px;
    border: 0;
    font-size: 1.2rem;
    margin-right: 10px;
    background-color: #22252c;
    border-radius: 25px;
    color: #fefefe;
}

.fa-search {
    font-size: 25px;
    color: rgb(47, 255, 168);
    transition: 0.1s;
    position: absolute;
    top: 20%;
    right: 15%;
}

.fa-search:hover {
    font-size: 27px;
}

.key-words {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    min-width: 200px;
    /* max-width: 400px; */
    background-color: #fefefe7c;
    padding: 0 10px 0;
    text-overflow: ellipsis;
    overflow: hidden;
}

.key-words span {
    margin: 0 5px;
    cursor: pointer;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* grid-template-rows: repeat(9, 173px); */
    justify-items: center;
    grid-auto-rows: 200px;
    height: 100vh;
    gap: 20px;
}

.gallery-container {
    padding: 2rem;
    margin: 20px auto;
    height: 100%;
}

.grid img {
    width: 100%;
    max-width: 350px;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    border-radius: 13px;
    box-shadow: -1px 0px 3px 0px rgba(0, 0, 0, 0.747);
    transition: box-shadow 0.2s;
}

.grid img:hover {
    box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.486);
}

/* EDIT PAGE */

.edit-page {
    /* width: 100%; */
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    background-color: #22252c;
    /* top: 0%; */
}

.meme-img {
    max-width: 350px;
}

.wrap-container {
    width: 90vw;
    height: 80vh;
    display: flex;
    padding: 20px;
    margin: 0 auto;
    justify-content: center;
}

.canvas-container {
    display: flex;
    /* border: 1px solid white; */
    /* background-color: tomato; */
    font-family: Impact;
    width: 400px;
    height: 420px;
    margin: 20px 20px 0 0;
}

#myCanvas {
    border-radius: 15px;
}

.edit-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* background-color: #383b42; */
    width: 400px;
    height: 420px;
    margin: 20px 0 0 20px;
    /* height: 100%; */
    /* Style for "Frame" */
    box-shadow: 1px 3px 0 #bbc4d142, inset 0 3px 0 #a3a3a360;
    border-radius: 15px;
    background-color: #ebeef318;
}

.line-edit {
    display: flex;
    /* margin: 0 auto; */
    justify-content: center;
}

.line-edit>* {
    text-align: center;
    /* height: 40px;
    width: 40px; */
    margin: 0 13px;
    padding: 10px 12px;
    box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
    border-radius: 10px;
    background-color: #ffffff;
    color: black;
    cursor: pointer;
}

.input-txt {
    margin: 0 2rem;
    outline: none;
    box-shadow: 1px 5px 0 #bbc4d1, inset 0 5px 0 #ffffff;
    border-radius: 28px;
    padding: 10px;
    background-color: #ebeef3;
    color: #3d3d3d;
    font-family: poppins-reg;
    font-size: 25px;
    font-weight: 500;
}

.text-edit {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    background-color: #19a59f;
    padding: 2px;
    border-radius: 10px;
}

.text-edit>* {
    /* background-color: hotpink; */
    margin: 5px 10px;
    cursor: pointer;
}

.text-edit>div {
    text-align: center;
    /* height: 40px;
    width: 40px; */
    padding: 10px;
    box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
    border-radius: 10px;
    background-color: #ffffff;
    color: black;
    cursor: pointer;
}

.text-edit select {
    flex-grow: 1;
    height: 40px;
    box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
    border-radius: 10px;
    background-color: #ffffff;
    color: #22252c;
    font-family: "poppins-reg";
    font-size: 20px;
    font-weight: 600;
    outline: none;
}

.icons {
    margin: 0 auto;
}

.share-btns {
    display: flex;
    justify-content: space-evenly;
}

.share-btn {
    width: 110px;
    height: 41px;
    box-shadow: 1px 3px 0 #165c9c, inset 0 3px 0 #689be7;
    border-radius: 15px;
    background-color: #1e7cd3;
}

.download-btn {
    width: 110px;
    height: 41px;
    box-shadow: 1px 6px 0 #632687, inset 0 5px 0 #a464ec;
    border-radius: 15px;
    background-color: #8f44bb;
}

a {
    color: white;
    text-decoration: none;
}

.stroke-color {
    padding: 20px;
    box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
    border-radius: 10px;
}

.stroke-color::before {
    content: '\f1fc';
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    position: relative;
    bottom: 9px;
    right: 9px;
    text-decoration: none;
}

.text-color {
    padding: 20px;
    box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
    border-radius: 10px;
}

.text-color::before {
    content: '\f53f';
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    position: relative;
    bottom: 9px;
    right: 9px;
    text-decoration: none;
}

.edit-btn {
    cursor: pointer;
}

.edit-btn:active {
    color: hotpink;
}

.myCanvas {
    cursor: pointer;
}

@media only screen and (max-width: 960px) {
    html {
        font-size: 14px;
    }
    .edit-container {
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        justify-content: space-evenly;
        /* max-width: 400px; */
        /* height: 250px; */
        border-radius: 15px;
    }
    .text-edit {
        display: flex;
        width: 90%;
        /* flex-wrap: wrap;
        margin: 0 auto;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        background-color: #19a59f;
        padding: 2px;
        border-radius: 10px; */
    }
}

@media only screen and (max-width: 840px) {
    html {
        font-size: 15px;
    }
    .wrap-container {
        display: flex;
        flex-direction: column;
        width: 90vw;
    }
    header {
        width: 90%;
        height: 43px;
    }
    .canvas-container {
        margin: 90px auto 0 auto;
        height: 390px;
    }
    .edit-container {
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        justify-content: space-evenly;
        max-width: 400px;
        height: 240px;
        border-radius: 15px;
    }
    .input-txt {
        margin: 0.6rem 1.6rem 0;
        outline: none;
        box-shadow: 1px 3px 0 #bbc4d1, inset 0 5px 0 #ffffff;
        border-radius: 13px;
        padding: 2px;
        background-color: #ebeef3;
        color: #3d3d3d;
        font-family: poppins-reg;
        font-size: 20px;
        font-weight: 500;
    }
    .text-edit>div {
        text-align: center;
        /* height: 40px;
        width: 40px; */
        padding: 6px;
        box-shadow: 2px 2px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
        border-radius: 6px;
    }
    .line-edit {
        justify-content: center;
        padding: 10px;
    }
    .text-edit {
        justify-content: space-around;
        padding: 0px;
    }
    .text-edit>* {
        cursor: pointer;
    }
    .text-color, .stroke-color {
        padding: 15px;
        order: 2;
        box-shadow: 2px 2px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
    }
    .text-edit select {
        order: 2;
        flex-basis: 50%;
        height: 32px;
        box-shadow: 2px 2px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
    }
    .share-btns {
        display: flex;
        margin: 0 auto;
        /* justify-content: space-evenly; */
        justify-content: center;
        width: 90%;
    }
    .share-btn {
        width: 90px;
        height: 30px;
        box-shadow: 1px 3px 0 #165c9c, inset 0 3px 0 #689be7;
        border-radius: 8px;
        background-color: #1e7cd3;
        margin-right: 25%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .download-btn {
        width: 90px;
        height: 30px;
        box-shadow: 1px 3px 0 #632687, inset 0 3px 0 #a464ec;
        border-radius: 8px;
        background-color: #8f44bb;
        margin-left: 25%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 800px) {
    .search-bar {
        flex-direction: column;
        height: 100%;
        align-items: center;
        padding: 25px 0 0 0;
    }
    .search-input-sec {
        display: flex;
        width: 75%;
        /* width: 100%; */
        /* margin: 0 auto; */
        /* justify-content: space-between; */
    }
    .search-input {
        margin-right: 30px;
        width: 100%;
    }
    .key-words {
        /* flex-basis: 100%; */
        width: 75%;
        margin: 30px 0px;
        
    }
    .fa-search {
        right: 0%;
    }
}

@media only screen and (max-width: 520px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(2, minmax(150px, 1fr));
        grid-auto-rows: 150px;
        gap: 20px;
    }
    .edit-container {
        margin-top: 13px;
    }
    .canvas-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 390px;
        margin-top: 50px;
        padding: 0px;
    }
    .myCanvas {
        height: 380px;
        width: 380px;
        margin: 0 auto;
    }
    .key-words {
        font-size: 12px;
        width: 75%;
    }
    .search-input-sec {
        display: flex;
        width: 75%;
    }

    
}

@media only screen and (max-width: 492px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(2, minmax(130px, 1fr));
        grid-auto-rows: 130px;
        gap: 20px;
    }
    .wrap-container {
        display: flex;
        padding: 0;
        height: 90vh;
        justify-content: flex-start;
    }
    .edit-container {
        height: 300px;
        width: 320px;
        margin: 0px auto 0;
    }
    .myCanvas {
        height: 300px;
        width: 320px;
        margin: 0 auto;
    }
    .canvas-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        padding: 0px;
        height: 330px;
        width: 320px;
    }
    .share-btn {
        width: 100%;
        height: 30px;
        margin-right: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .download-btn {
        width: 100%;
        height: 30px;
        margin-left: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .text-edit select {
        /* flex-grow: 1; */
        height: 40px;
        flex-basis: 15%;
        border-radius: 10px;
        font-size: 20px;
        font-weight: 600;
    }
}